{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}BizBozor{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- HEADER -->
    <header class="site-header">
        <div class="container header-inner">

            <!-- LOGO -->
            <div class="logo">
                <a href="{% url 'home' %}">BizBozor</a>
            </div>

            <!-- NAVBAR -->
            <nav class="main-nav">
                <a href="{% url 'category_list' 'tayyor-biznes' %}">Tayyor bizneslar</a>
                <a href="{% url 'category_list' 'franshiza' %}">Franshizalar</a>
                <a href="{% url 'category_list' 'startap' %}">Startaplar</a>
                <a href="{% url 'category_list' 'xizmat' %}">Xizmatlar</a>
            </nav>

            <!-- ACTION BUTTONS -->
            <div class="header-actions">
                {% if request.user.is_authenticated %}
                    <span style="font-weight: 600;">Salom, {{ request.user.username }}</span>
                    <a href="{% url 'my_listings' %}" class="btn btn-outline">Mening e'lonlarim</a>
                    <a href="{% url 'notifications' %}" class="btn btn-outline">
                        Bildirishnomalar
                    </a>
                    <a href="{% url 'favorite_list' %}" class="btn btn-outline">Sevimlilar</a>
                    <a href="{% url 'logout' %}" class="btn btn-outline">Chiqish</a>
                    <a href="{% url 'create_listing' %}" class="btn btn-primary">E'lon berish</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline">Kirish</a>
                    <a href="{% url 'register' %}" class="btn btn-primary">Ro'yxatdan o'tish</a>
                {% endif %}
            </div>

        </div>
    </header>

<!--MESSAGES-->
{% if messages %}
    <div class="container" style="margin-top: 20px;">
        {% for message in messages %}
            <div style="padding: 14px 18px; margin-bottom: 10px; border-radius: 10px; background: #eef7ff; color: #0f172a; border: 1px solid #cfe8ff;">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}



    <!-- MAIN CONTENT -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>